<div class="nav-menu">
  <div class="nav-menu-items">
    <button class="nav-button" [matMenuTriggerFor]="projectMenu" mat-button>
      Projects
    </button>
    <mat-menu #projectMenu="matMenu">
      <a class="menu-link" routerLink="projects">
        <button mat-menu-item>
          <mat-icon>visibility</mat-icon>
          <span class="menu-item-label">View projects</span>
        </button>
      </a>
      @if (accountService.isCurrentUserInRole(RoleType.ProjectManager, RoleType.Administrator)) {
        <a class="menu-link" routerLink="projects/create">
          <button mat-menu-item>
            <mat-icon>add_circle</mat-icon>
            <span class="menu-item-label">New project</span>
          </button>
        </a>
      }
    </mat-menu>
    <button class="nav-button" routerLink="teams" mat-button>
      Teams
    </button>
    @if(accountService.isCurrentUserInRole(RoleType.Administrator)) {
      <button class="nav-button" mat-button routerLink="/admin">
        Admin settings
      </button>
    }
  </div>
  <div class="user-actions">
    <app-notification-button></app-notification-button>
    <app-account-menu-button></app-account-menu-button>
  </div>
</div>
