<div class="row">
  <div class="col-2 pt-3 ps-3">
    <h1>Create invitation link</h1>
  </div>
</div>
<div class="row">
  <div class="col-2 p-3">
    <form [formGroup]="inviteForm" (ngSubmit)="generateInvitation()" class="form-group">
      <mat-form-field>
        <mat-label>Invitation expiration date</mat-label>
        <input matInput [matDatepicker]="datepicker" [min]="minInviteDate" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Set</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Generate invitation</button>
    </form>
  </div>
  <div class="col-2 p-3" *ngIf="inviteKey">
    <mat-form-field>
      <input matInput matNativeControl="color" [value]="inviteKey | invitationLink" readonly>
      <button title="Copy to clipboard" matSuffix mat-icon-button aria-label="copy" [cdkCopyToClipboard]="inviteKey | invitationLink">
        <mat-icon>content_paste</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
