<div class="story-box" [class.disabled]="disabled()">
  <div class="title" [title]="story().title">{{story().title}}</div>
  <div class="points" [class.unset]="story().storyPoints == undefined">
    <span>
      {{story().storyPoints ?? 'No story points'}}
    </span>
    @if(story().storyPoints != undefined) {
      <mat-icon class="star-icon">star</mat-icon>
    }
  </div>
  <div class="metadata-container">
    <div class="priority">{{story().storyPriority}}</div>
    <div class="type">{{story().storyType}}</div>
  </div>
  <div class="assignee" [class.unassigned]="!story().assignedTo">
    @if(story().assignedTo) {
      <img [user-picture]="story().assignedTo!.id" [size]="24">
    }
    {{story().assignedTo?.fullName ?? 'Unassigned'}}
  </div>
  <div class="match-rate-container">
    @let matchRate = story().matchRate ?? 0;
    @if(story().matchRate) {
      <span class="match-rate" [style]="'color: ' + getColorByMatchRate(matchRate)">
        {{getFormatteMatchRate(matchRate)}}
      </span>
    }
  </div>
  <div class="open-btn" (click)="openStoryDialog()" matTooltip="Open">
      <mat-icon>float_landscape_2</mat-icon>
  </div>
</div>
