.story-box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 2rem 1.5rem 1fr;
  align-items: center;
  padding: 0 8px;
  background: white;
  border-radius: 8px;
  font-size: 14px;
  min-height: 6rem;
  max-height: 6rem;

  &.disabled {
    opacity: 0.5;
  }

  .title {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .points {
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: 500;

    &.unset {
      color: red;
    }

    .star-icon {
      scale: 0.7;
    }
  }

  .open-btn {
    position: absolute;
    right: 8px;
    bottom: 0;
    scale: 0.8;
    transition: scale 0.1s ease-in-out;

    &:hover {
      scale: 1;
      cursor: pointer;
    }
  }

  .metadata-container {
    grid-column: 1 / -1;
    display: flex;
    gap: 8px;

    & * {
      padding: 0 8px;
      border-radius: 12px;
      color: white;
    }

    .priority {
      display: inline-block;
      background-color: #4692ed;
    }

    .type {
      display: inline-block;
      background-color: #005fae;
    }
  }

  .assignee {
    font-weight: 500;
    color: var(--bs-blue);

    &.unassigned {
      color: rgb(255, 94, 0);
    }
  }
}
