<button id="account-settings-btn"
        [matMenuTriggerFor]="userMenu"
        width="32px" height="32px"
        style="background-image: url('{{accountService.currentAccountPicture$ | async}}');">
</button>
<mat-menu #userMenu="matMenu">
  <a class="menu-link" routerLink="account/settings">
    <button mat-menu-item>
      <mat-icon>manage_accounts</mat-icon>
      <span class="menu-item-label">Account settings</span>
    </button>
  </a>
  <button mat-menu-item (click)="accountService.logout()">
    <mat-icon>logout</mat-icon>
    <span class="menu-item-label">Logout</span>
  </button>
</mat-menu>
