@use '@angular/material' as mat;
@use './app/styles/shared.scss';

@include mat.core();
@import '@angular/cdk/overlay-prebuilt.css';

html, body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba($color: #0000, $alpha: 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #0000, $alpha: 0.5);
}

.mat-mdc-autocomplete-panel {
  margin: 16px -24px;
}

.mat-horizontal-content-container {
  padding: 12px !important;
}

.mat-mdc-form-field {
  margin-bottom: 1rem;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 24px !important;
  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-container-height: 32px !important;
  --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, 0.2) !important;
  --mdc-outlined-text-field-outline-width: 2px !important;
  --mdc-outlined-text-field-focus-outline-width: 3px !important;
  --mdc-outlined-text-field-hover-outline-color: rgba(0, 0, 0, 0.5) !important;
}

.mat-mdc-form-field-error-wrapper {
  position: initial !important;
  padding: 4px 16px !important;
}

.mat-mdc-form-field-error {
  font-weight: 500 !important;
}

.mat-mdc-form-field-bottom-align::before {
  content: none !important;
}

.mat-mdc-select-panel, .mat-mdc-autocomplete-panel {
  border-radius: 12px !important;
}

.mat-mdc-paginator-page-size-select {
  min-width: unset !important;
}

.mat-mdc-tab-group {
  display: grid !important;
  grid-template-rows: auto 1fr;
}

.mat-mdc-standard-chip {
  --mdc-chip-container-shape-radius: 24px;
}

.mat-divider {
  opacity: 0.2;
}

.page-title {
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding: 12px;
  font-weight: 100;
  border-bottom: solid 1px rgb(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.user-picture {
  border-radius: 50%;
}

.number-form-field-small {
  max-width: 90px !important;
}

h4 {
  font-size: 20px !important;
}

.mat-badge-content {
  width: unset !important;
  display: flex;
  justify-content: center;
  max-width: fit-content !important;
}

.mat-badge {
  --mat-badge-background-color: #fd0558 !important;
}

.toast-container {
  --toast-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ngx-toastr {
  width: var(--toast-width) !important;
  border-radius: 48px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
              rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}
