<section>
  <h4>members</h4>
  @if(isCurrentUserTeamLeader()) {
    <div class="form-control-container">
      <mat-form-field>
        <app-member-search-control placeholder="Search members"
          [notAllowedMembers]="members()" [formControl]="memberControl"/>
      </mat-form-field>
      <button mat-flat-button (click)="addMembers()"
        [disabled]="memberControl.value?.length == 0">Add members</button>
    </div>
  }
  <div class="member-tile-container">
    @for (member of members(); track $index) {
      <div class="member-tile" style="--i: {{$index}}">
        <button mat-icon-button class="more-btn" [matMenuTriggerFor]="menuRef">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuRef="matMenu">
          <button mat-menu-item [routerLink]="['/user-profile', member.id]">
            <mat-icon>visibility</mat-icon>
            View profile
          </button>
          @if(!isTeamLeader(member) && isCurrentUserTeamLeader()) {
            <button mat-menu-item (click)="removeMember(member)">
              <mat-icon>cancel</mat-icon>
              Remove from team
            </button>
          }
        </mat-menu>
        <div class="member-info member-profile-info">
          <img [user-picture]="member.id" [size]="64">
          <span class="member-name" [class.teamleader]="isTeamLeader(member)">{{member.fullName}}</span>
        </div>
        <div class="member-info member-skills">
          @for (userSkill of memberSkills().get(member.id); track $index) {
            <div class="skill">
              <span class="skill-label">{{userSkill.skill.name}}</span>
              <div class="skill-bar"
                [style]="'width: ' + _getSkillBarWidth(userSkill) + '%;'">
              </div>
            </div>
          }
        </div>
        <div class="member-info member-stats">
          @let stats = memberStats().get(member.id);
          <span>Stories per hour: {{stats?.performance ?? 0}}</span>
        </div>
      </div>
    }
  </div>
</section>

<section>
  @let projects = team()?.projects ?? [];
  <h4>Projects</h4>
  @if(isCurrentUserTeamLeader()) {
    <div class="form-control-container">
      <mat-form-field>
        <app-project-search-control placeholder="Search for projects"
          [notAllowedProjects]="projects ?? []" [formControl]="projectControl"/>
      </mat-form-field>
      <button mat-flat-button (click)="addProjects()"
          [disabled]="projectControl.value?.length == 0">Add projects</button>
    </div>
  }
  <div class="project-container">
    @if(projects.length == 0) {
      <span class="projects-empty-msg">This team has no projects yet!</span>
    }
    @for (project of projects; track $index) {
      <div class="project-pill">
        <span>{{project.name}}</span>
        <button mat-icon-button class="more-btn" [matMenuTriggerFor]="menuRef">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuRef="matMenu">
          <button mat-menu-item [routerLink]="['/projects', 'project-dashboard', project.id]">
            <mat-icon>visibility</mat-icon>
            View project
          </button>
          @if(isCurrentUserTeamLeader()) {
            <button mat-menu-item (click)="removeProject(project)">
              <mat-icon>cancel</mat-icon>
              Remove project
            </button>
          }
        </mat-menu>
      </div>
    }
  </div>
</section>



@if(team()) {
  <h4>Velocity chart</h4>
  <app-velocity-chart [teamId]="team()!.id!"></app-velocity-chart>
}
