section {
  padding: 8px;
  border-bottom: 1px rgba(0,0,0,0.1) solid;
}

.mat-mdc-form-field {
  width: 350px;
  margin-bottom: 0;
}

.form-control-container {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.project-container {
  display: flex;
  gap: 8px;
  .project-pill {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    padding-right: 8px;
    border-radius: 48px;
    border: 1px rgba(0,0,0,0.1) solid
  }
  .projects-empty-msg {
    font-weight: 500;
    opacity: .5;
  }
}


.member-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  row-gap: 32px;

  .member-tile {
    position: relative;
    width: 250px;
    height: 400px;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    user-select: none;
    animation: on-load .5s ease-in-out forwards;
    animation-delay: calc(var(--i) * .1s);

    .member-info:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,0.05);
      padding-bottom: 8px;
      margin-bottom: 8px;
    }

    .member-profile-info {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      gap: 8px;

      .member-name {
        opacity: .8;
        font-size: 20px;
        &::before {
          display: block;
          content: "Team member";
          opacity: .5;
          font-size: 12px;
        }
      }

      .teamleader::before {
        content: "Teamleader *";
        color: rgb(0, 140, 255);
        opacity: 1;
      }
    }

    .more-btn {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  .member-skills {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    overflow: hidden;

    &::before {
      content: "Member skills";
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      opacity: .5;
      font-size: 12px;
    }
    .skill {
      .skill-label {
        font-size: 12px;
        opacity: .5;
        font-weight: 500;
      }

      .skill-bar {
        height: 8px;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(0,119,255,1) 0%, rgba(0,255,213,1) 100%);
      }
    }
  }

  .member-stats {
    text-align: center;
    opacity: .5;
  }
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
