<button class="account-settings-btn"
        [matMenuTriggerFor]="userMenu"
        width="40px" height="40px"
        style="background-image: url('{{accountService.currentAccountPicture$ | async}}');">
</button>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="'user-profile/' + userId">
    <mat-icon>manage_accounts</mat-icon>
    <span class="menu-item-label">My profile</span>
  </button>
  <button mat-menu-item (click)="accountService.logout()">
    <mat-icon>logout</mat-icon>
    <span class="menu-item-label">Logout</span>
  </button>
</mat-menu>
