<div class="scrum-board container">
  <div class="sprint-select-container">
    <button mat-icon-button
      matTooltip="Previous sprint"
      (click)="navigateToSprint(1)"
      [disabled]="backBtnDisabled()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      @if(teamSelectionVisible() && !isTeamsEmpty()) {
        <app-team-selector [project]="project()!"
          (selectionChange)="onTeamSelectionChanged($event)"></app-team-selector>
      }
      <mat-form-field>
        @let label = teamSprints().length > 0 ? 'Select sprint' : 'There are no sprints yet';
        <mat-label>{{label}}</mat-label>
        <mat-select
          [disabled]="teamSprints().length == 0"
          [formControl]="sprintSelectControl"
          (selectionChange)="selectSprint($event)"
          [compareWith]="compareSprint">
          @for(sprint of teamSprints(); track $index) {
            @let startDate = sprint.start | date;
            <mat-option [value]="sprint">
              <span>{{startDate}} - {{sprint.end | date}} &nbsp;</span>
              @if(sprint.isActive) {
                <span>(Active)</span>
              }
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button
      matTooltip="Next sprint"
      (click)="navigateToSprint(-1)"
      [disabled]="nextBtnDisabled()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  @for (state of stories(); track $index) {
    <div class="column">
      <div class="column-header">{{$index | scrumState}}</div>
      <div
        [id]="'scrum-state-' + $index"
        cdkDropList
        #backlogList="cdkDropList"
        [cdkDropListData]="stories()[$index]"
        [cdkDropListConnectedTo]="getConnectedToIds($index)"
        class="story-list"
        (cdkDropListDropped)="drop($event, $index)">
        @for (story of stories()[$index]; track $index) {
          <app-story-tile
          (storyChanged)="loadNthSprint(0)"
          [story]="story"
          [disabled]="!sprint()?.isActive"
          cdkDrag
          [cdkDragDisabled]="!sprint()?.isActive"></app-story-tile>
        }
      </div>
    </div>
  }
</div>
