<div class="scrum-board container" cdkDropListGroup>
  <div class="sprint-select-container">
    <button mat-icon-button
      matTooltip="Previous sprint"
      (click)="navigateToSprint(1)"
      [disabled]="backBtnDisabled()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="sprint-title">
      <mat-form-field>
        @let label = !isProjectHasSprints() ? 'There are no sprints yet' : 'Select sprint';
        <mat-label>{{label}}</mat-label>
        <mat-select
          [disabled]="!isProjectHasSprints()"
          [formControl]="sprintSelectControl"
          (selectionChange)="selectSprint($event)">
          @for(sprint of project()?.sprints; track $index) {
            @let startDate = sprint.start | date;
            @let endDate = (sprint.earlyClose ?? sprint.end) | date;
            <mat-option [value]="sprint.id">
              <span>{{startDate}} - {{endDate}} &nbsp;</span>
              @if(sprint.isActive) {
                <span>(Active)</span>
              }
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button
      matTooltip="Next sprint"
      (click)="navigateToSprint(-1)"
      [disabled]="nextBtnDisabled()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  @for (state of states; track $index) {
    <div class="column">
      <div class="column-header">{{state}}</div>
      <div
        [id]="'scrum-state-' + $index"
        cdkDropList
        #backlogList="cdkDropList"
        [cdkDropListData]="stories()[$index]"
        [cdkDropListConnectedTo]="getConnectedToIds($index)"
        class="story-list"
        (cdkDropListDropped)="drop($event)">
        @for (story of stories()[$index]; track story) {
          <div class="story-box"
          [class.disabled]="!sprint()?.isActive"
          cdkDrag [cdkDragDisabled]="!sprint()?.isActive">{{story.title}}</div>
        }
      </div>
    </div>
  }
</div>
