<div class="container">
  <h1 class="mat-headline-2 pt-3 mb-3">Project - <b>{{project?.name}}</b></h1>
  <mat-divider></mat-divider>
  <div class="details-container">
    <h1 class="mb-2">Details</h1>
    <mat-divider></mat-divider>
    <div mat-subheader>Project manager: <b>{{project?.projectManager?.fullName}}</b></div>
    <mat-divider></mat-divider>
    <div mat-subheader>Teams</div>
    <mat-list>
      @for (team of project?.teams; track $index) {
        <mat-list-item class="team">
          Teamleader: <b>{{team.teamLeader.fullName}}</b>
          @if (team.members && team.members.length > 0) {
            <mat-list>
              <div mat-subheader>Members</div>
              @for (member of team.members; track $index) {
                <mat-list-item>{{member.fullName}}</mat-list-item>
              }
            </mat-list>
          } @else {
            <div style="opacity: 50%;">This team has no added members yet.</div>
          }
        </mat-list-item>
      }
    </mat-list>
  </div>
</div>
