.details-container {
  margin-top: 2ch;
  padding: 2ch;
  background-color: #eee;
  border-radius: 2ch;
}

.team {
  padding: 4ch;
  margin: 1ch;
  border-radius: 2ch;
  background-color: #ddd;
  width: 50%;
}
