<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      mode="side"
      [opened]="sidenavItemService.items().length > 0">
    <mat-toolbar>
      <div class="d-flex justify-content-center w-100">
        Navigation
      </div>
    </mat-toolbar>
    <mat-nav-list>
      @for (item of sidenavItemService.items(); track $index) {
        @if(item.enabled ?? true) {
          <mat-list-item
            [activated]="item.activated ?? false"
            [routerLink]="item.routerLink">
            <div class="sidenav-menu-item">
              {{item.label}}
              <mat-icon>{{item.icon}}</mat-icon>
            </div>
          </mat-list-item>
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    @let sidenavOpened = sidenavItemService.items().length > 0;
    @if(loadService.loading() && !loadService.loadingSpinnerDisabled()) {
      <div class="spinner-container" [class.sidenav-open]="sidenavOpened">
        <mat-spinner></mat-spinner>
      </div>
    }
    <mat-toolbar class="toolbar">
      <div class="navbar">
        <div class="d-flex align-items-center">
          @if(sidenavOpened) {
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon" style="color:  white;">menu</mat-icon>
            </button>
          }
          <a class="navbar-brand" routerLink="/">{{title}}</a>
        </div>
        @if(accountService.currentUser$ | async) {
            <app-nav-menu></app-nav-menu>
        }
    </div>
    </mat-toolbar>
    <div class="page-content" [class.has-title]="loadService.title()">
      @if(loadService.title()) {
        <div class="page-title-container">
          <div class="page-title">
            {{loadService.title()}}
          </div>
        </div>
      }
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
