<div class="sprint-burndown-container">
  <h4>Sprint burndown</h4>
  <div class="sprint-selector">
    @if(teamSelectionVisible() && !isTeamsEmpty()) {
      <app-team-selector [project]="project()!"
        (selectionChange)="onTeamSelectionChanged($event)"></app-team-selector>
    }
    <mat-form-field>
      @let label = teamSprints().length > 0 ? 'Select sprint' : 'There are no sprints yet';
      <mat-label>{{label}}</mat-label>
      <mat-select
        [disabled]="teamSprints().length == 0"
        [formControl]="sprintSelectControl"
        [compareWith]="compareSprint">
        @for(sprint of teamSprints(); track sprint) {
          @let startDate = sprint.start | date;
          <mat-option [value]="sprint">
            <span>{{startDate}} - {{sprint.end | date}} &nbsp;</span>
            @if(sprint.isActive) {
              <span>(Active)</span>
            }
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  @if(sprintSelectControl.value) {
    <app-sprint-burndown-chart [sprintId]="sprintSelectControl.value!.id!" />
  }
</div>
<div class="story-state-infos">
  @if(pbState().length > 0) {
      <ngx-charts-pie-chart
        [view]="[600, 300]"
        scheme="ocean"
        [results]="pbState()"
        [legend]="true"
        [legendPosition]="pbPieChartLegendPos"
        legendTitle="States">
      </ngx-charts-pie-chart>
  }
  @if(project()) {
    <div class="update-container">
      <h4>Last updates</h4>
      <app-project-updates-list [projectId]="project()!.id!"></app-project-updates-list>
    </div>
  }
</div>
