<div class="container">
  <div class="row">
    <h1 class="mat-headline-3 pt-3 mb-3">New Team</h1>
  </div>
  <mat-divider class="pb-3"></mat-divider>
  <div class="row">
    <form [formGroup]="teamCreateForm" (ngSubmit)="createTeam()" class="d-flex flex-column w-50">
      <mat-form-field>
        <mat-label>Team name</mat-label>
        <input matInput type="text" formControlName="teamName" [errorStateMatcher]="errorStateMatcher"
                placeholder="Example team"/>
        @if (teamCreateForm.get('teamName')!.hasError('required')) {
          <mat-error>Team name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Team leader(s)</mat-label>
        <mat-chip-grid #teamLeaderChipGrid formControlName="members">
          @for (member of members; track $index) {
            <mat-chip-row (removed)="removeMember(member)">
              {{member.fullName}}
              <button matChipRemove [attr.aria-label]="'remove team member'">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        @if (teamCreateForm.get('members')!.hasError('required')) {
          <mat-error>Team needs at least <strong>one member</strong>!</mat-error>
        }
        <input
          placeholder="Select Team leader(s)"
          #teamLeaderInput formControlName="teamLeader"
          [matChipInputFor]="teamLeaderChipGrid"
          [matAutocomplete]="auto"/>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="memberselected($event)">
          @for (user of filteredUsers$ | async; track user) {
            <mat-option [value]="user.fullName">{{user.fullName}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Create team</button>
    </form>
  </div>
</div>
