<div class="container">
  <div class="row">
    <h1 class="mat-headline-3 pt-3 mb-3">New Team</h1>
  </div>
  <mat-divider class="pb-3"></mat-divider>
  <div class="row">
    <form [formGroup]="teamCreateForm" (ngSubmit)="createTeam()" class="d-flex flex-column w-50">
      <mat-form-field>
        <mat-label>Team name</mat-label>
        <input matInput type="text" formControlName="teamName"
                placeholder="Example team"/>
        @if (teamCreateForm.get('teamName')!.hasError('required')) {
          <mat-error>Team name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Team members</mat-label>
        <app-member-search-control [notAllowedMembers]="[currentUser()!]" formControlName="members"></app-member-search-control>
        @if (teamCreateForm.get('members')!.hasError('required')) {
          <mat-error>At least one member is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Create team</button>
    </form>
  </div>
</div>
