<div class="container-fluid">
  <div class="row">
    <div class="col-2 pt-3 ps-3">
      <h1>Login</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2 p-3">
      <form (ngSubmit)="login()" #form="ngForm" autocomplete="off">
        <input name="username"  [(ngModel)]="model.userName" class="form-control mb-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="form-control mb-2" type="password" placeholder="Password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

