<div class="login-content">
  <span class="proflow-logo">
    <span>Pro</span>
    <span>Flow</span>
  </span>
    <form [formGroup]="loginForm" (submit)="login()" class="login-form">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput name="username" formControlName="userName"
          [errorStateMatcher]="matcher" type="text" placeholder="Username">
        <mat-error>Username is <strong>required</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput name="password" formControlName="password"
          [errorStateMatcher]="matcher" type="password" placeholder="Password">
        <mat-error>Password is <strong>required</strong></mat-error>
      </mat-form-field>
      <button mat-flat-button type="submit">Login</button>
    </form>
</div>

