#profile-picture-container {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 4px 2px rgba(0,0,0,0.3);
}

#profile-picture-action-cover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  color: white;
  opacity: 0;
}

#profile-picture-action-icon{
  transform: scale(2);
}

#profile-picture-action-cover:hover {
  opacity: 25%;
  cursor: pointer;
}

#profile-picture {
  position: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.container {
  width: 50%;
  height: 100%;
  box-shadow: 0 4px 36px rgba(0,0,0,0.3);
}

.header {
  display: flex;
  gap: 5%;
  align-items: center;
  padding: 12px;
}

.settings-container {
  width: 70%;
}

.account-setting-form {
  display: flex;
  gap: 2ch;
}

.account-setting-form button {
  margin-top: .5ch;
}
