$notification-content-size: 300px;

::ng-deep.notifications-menu {
  max-width: none !important;
  max-height: none !important;
}

.notifications-header {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1ch;
}

.notifications-content {
  min-width: $notification-content-size;
  max-width: $notification-content-size;
}

.notifications-container {
  display: grid;
  flex-direction: column;
  row-gap: 1ch;
  padding: 1ch;
  min-height: $notification-content-size;
  max-height: $notification-content-size;
  overflow-y: auto;
  box-shadow:
    inset 0px 11px 8px -10px #AAA,
    inset 0px -11px 8px -10px #AAA;
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 280px;
}

.notification {
  display: grid;
  grid-template-areas:
  'n-type n-timespan'
  'n-type n-title'
  'n-type n-content';
  min-height: 8ch;
  padding: 1ch;
  column-gap: 1ch;
  border-radius: 8px;
  background-color: #eeeeee;
}

.notification-type {
  grid-area: n-type;
}

.notification-content {
  grid-area: n-content;
}

.notification-title {
  grid-area: n-title;
  font-weight: 500;
}

.notification-timespan {
  grid-area: n-timespan;
  font-weight: 500;
  font-size: 12px;
}

.notification-badge {
  right: 0;
  background-color: red;
  width: 1ch;
  height: 1ch;
  border-radius: 50%;
}
