<div class="container">
  <h1 class="mat-headline-4 mt-5">{{user.firstName}} {{user.lastName}}</h1>
  <mat-divider></mat-divider>
  <div class="mt-3">
    <form [formGroup]="manageFormGroup">
      <section>
        <ul>
          <li *ngFor="let role of manageFormGroup.controls['roles'].controls; let i = index">
              <label>
                <mat-checkbox [formControl]="role" color="primary">
                  {{availableRoles[i].name}}
                </mat-checkbox>
              </label>
          </li>
        </ul>
      </section>
      <div class="d-flex gap-3">
        <button [disabled]="!manageFormGroup.dirty" mat-flat-button color="primary" type="submit" (click)="onSave()" class="mb-3">Save changes</button>
        <button mat-flat-button type="button" (click)="onClose()" class="mb-3">Back</button>
      </div>
    </form>
  </div>
</div>
