@if(accountService.isCurrentUserInRole(
RoleType.TeamLeader,
RoleType.Administrator,
RoleType.ProjectManager)) {
  <div class="create-btn"
    matTooltip="Create a new team"
    (click)="openCreateTeamDialog()">
    <mat-icon class="icon">add</mat-icon>
  </div>
}
<div class="team-tile-container">
  @for (team of teams(); track $index) {
    <div class="team-tile" style="--i: {{$index}}">
      <button mat-icon-button class="more-btn" [matMenuTriggerFor]="menuRef">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuRef="matMenu">
        <button mat-menu-item [routerLink]="'team/' + team.id">
          <mat-icon>visibility</mat-icon>
          View
        </button>
        <button mat-menu-item (click)="deleteTeam(team)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-menu>
      <div class="team-info team-name">{{team.name}}</div>
      <div class="team-info teamleader-info">
        <img [user-picture]="team.teamLeader.id" [size]="64">
        <span class="teamleader-name">{{team.teamLeader.fullName}}</span>
      </div>
      <div class="team-info team-stats">
        <div class="stat">
          <span>Members</span>
          <span>{{team.members.length}}</span>
        </div>
        <div class="stat">
          <span>Projects</span>
          <span>{{team.projects.length}}</span>
        </div>
      </div>
      <div class="team-info team-skills">
        @for (skill of team.topUserSkills; track $index) {
          <div class="skill">
            <span class="skill-label">{{skill.skill.name}}</span>
            <div class="skill-bar"
              [style]="'width: ' + _getSkillBarWidth(team.topUserSkills, skill) + '%;'">
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
<!--<a [routerLink]="'team/' + team.id">{{team.name}}</a>-->
