<ng-container>
  <mat-toolbar class="align-self-center" color="primary">
    <button *ngIf="(accountService.currentUser$ | async) &&
      sidenavItemService.items.length > 0"
      mat-icon-button (click)="sidenavExpanded = !sidenavExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <div
      class="d-flex w-100">
      <div class="d-flex justify-content-center">
        <a class="navbar-brand" routerLink="/">ProFlow</a>
      </div>
      <div *ngIf="(accountService.currentUser$ | async)"
        class="container d-flex justify-content-between">
        <app-nav-menu></app-nav-menu>
        <div id="user-actions">
          <app-notification-menu></app-notification-menu>
          <app-account-menu></app-account-menu>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="(accountService.currentUser$ | async)" class="sidenav"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="((isHandset$ | async) || sidenavExpanded) && sidenavItemService.items.length > 0">
      <mat-nav-list>
        @for (item of sidenavItemService.items; track $index) {
          <a mat-list-item [routerLink]="item.routerLink">
            @if(item.icon) {
              <mat-icon>{{item.icon}}</mat-icon>
            }
            {{item.label}}
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
