<ng-container>
  <mat-toolbar class="align-self-center" color="primary">
    <button *ngIf="(accountService.currentUser$ | async)"
      mat-icon-button (click)="sidenavExpanded = !sidenavExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <div
      class="d-flex w-100">
      <div class="d-flex justify-content-center">
        <a class="navbar-brand" routerLink="/">ProFlow</a>
      </div>
      <div *ngIf="(accountService.currentUser$ | async)"
        class="container d-flex justify-content-between">
        <app-nav-menu></app-nav-menu>
        <div id="user-actions">
          <app-notification-menu></app-notification-menu>
          <app-account-menu></app-account-menu>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="(accountService.currentUser$ | async)" class="sidenav"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="((isHandset$ | async) || sidenavExpanded)">
      <mat-nav-list>
        <a *ngIf="accountService.isCurrentUserInRole(RoleType.Administrator) | async"
          mat-list-item routerLink="/admin"
          routerLinkActive="mat-list-item-active">
          <div class="d-flex align-content-center">
            <mat-icon class="me-1">admin_panel_settings</mat-icon>
            Administration
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
