mat-toolbar button {
  font-weight: 400;
}

mat-toolbar div, app-nav-menu {
  align-self: center;
}

.sidenav-container {
  height: calc(100% - 65px);
}

.sidenav {
  width: 200px !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-item-active {
  background-color: rgba(0, 0, 0, 0.05);
}

.mat-mdc-menu-item {
  min-height: 36px;
}

.menu-link {
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  user-select: none;
  z-index: 2 !important;
  min-height: 65px !important;
  max-height: 65px !important;
}

.navbar-brand {
  color: white !important;
}

.menu-item-label {
  font-size: small;
}

#user-actions {
  display: flex;
  gap: 4px;
  height: 40px;
}
