@import "../project-shared.scss";

:host {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.functions-container {
  margin-top: 32px;
  &::before {
    content: "";
    margin: 8px;
    border: solid 1px rgba(0, 0, 0, 0.05);
  }
}

.functions-container,
.sprint-create-form-container,
.function-container,
.function {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.backlog-column-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 16px;
}

.story-list {
  height: 40rem;
  width: 300px;
  overflow: auto;
}

.sprint-create-form, .function-container, .function {
  flex-direction: column;
}

.function-container {
  width: 300px;
  height: fit-content;
  border-radius: 8px;
  padding: 16px;
  background-color: rgba(0,0,0, 0.05);
}

.function-title {
  margin-bottom: 8px;
}

.story-list {
  &.error {
    border-color: #ff0040;

    &::before {
      content: "CAPACITY IS FULL";
      margin: 4px;
      border-radius: 8px;
      background-color: #ff0040;
      color: white;
      text-align: center;
    }
  }
}
