<div class="backlog-column-container" cdkDropListGroup>
  <div class="column">
    <div class="column-header">Product backlog</div>
    <div
      id="product-backlog"
      cdkDropList
      #productBacklogList="cdkDropList"
      [cdkDropListData]="productBacklog"
      [cdkDropListConnectedTo]="sprintBacklogList"
      class="story-list"
      (cdkDropListDropped)="drop($event, 'product')">
      @for (story of productBacklog(); track $index) {
        <app-story-tile
          (storyChanged)="reload()"
          [story]="story"
          [disabled]="!lastSprint()?.isActive || isTeamsEmpty()"
          cdkDrag
          [cdkDragDisabled]="!lastSprint()?.isActive"></app-story-tile>
      }
    </div>
  </div>
  <div class="column">
    <div class="column-header">Sprint backlog</div>
    <div
      id="product-backlog"
      cdkDropList
      #sprintBacklogList="cdkDropList"
      [cdkDropListData]="sprintBacklog"
      [cdkDropListConnectedTo]="productBacklogList"
      class="story-list"
      (cdkDropListDropped)="drop($event, 'sprint')">
      @for (story of sprintBacklog(); track $index) {
        <app-story-tile
          (storyChanged)="reload()"
          [story]="story"
          [disabled]="!lastSprint()?.isActive"
          cdkDrag
          [cdkDragDisabled]="!lastSprint()?.isActive || isTeamsEmpty()"></app-story-tile>
      }
    </div>
  </div>
  <button mat-flat-button (click)="saveBacklogChanges()" [disabled]="!changeHappened()">Save changes</button>
  @if(teamSelectionVisible() && !isTeamsEmpty()) {
    <app-team-selector [project]="project()!" (selectionChange)="onTeamSelectionChanged($event)"></app-team-selector>
  }
</div>
<div class="functions-container">
  <div class="function-container">
    <div class="function-title">
      Create new sprint
    </div>
    <form class="function sprint-create-form" [formGroup]="sprintCreateFormGroup">
      <mat-form-field>
        <mat-label>Sprint duration</mat-label>
        <mat-date-range-input [min]="minStartDate"  [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        @if(sprintCreateFormGroup.controls.startDate.hasError('matStartDateInvalid') ||
          sprintCreateFormGroup.controls.startDate.hasError('matEndDateInvalid')) {
          <mat-error>Invalid date!</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sprint capacity</mat-label>
        <input type="number" matInput formControlName="capacity" [min]="1" [value]="lastSprint()?.capacity">
      </mat-form-field>
      <button mat-flat-button
        type="submit"
        [disabled]="sprintCreateFormGroup.invalid || sprintCreateFormGroup.disabled"
        (click)="createSprint()">Create sprint</button>
    </form>
  </div>
  <div class="function-container">
    @if(lastSprint()?.isActive) {
      <div class="function-title">
        The current sprint ends on {{lastSprint()?.end | date}}
      </div>
      <div class="function">
        <button mat-flat-button
        (click)="closeSprint()"
        [disabled]="canCreateSprint()">Close current sprint</button>
      </div>
    } @else if(isTeamsEmpty()) {
      <span>This project doesn't have any teams yet, you can't create a sprint until the project has at least 1 team!</span>
    } @else {
      <span>This team has no active sprints!</span>
    }
  </div>
</div>
